<div class="referFooterBanner hide hide-on-small-only">
    <span class="defaultMessage">
        <span>
            Don't let your friend's data end up in the wrong hands!
            <span class="hide-on-med-and-down">Refer them to Matomo Analytics now to take back control!</span>
        </span>
        <br class="hide-on-extra-large-only hide-on-med-and-down" />
        <a href="javascript:void(0);" target="_blank" class="btn share-link referFriend">
            <span>Refer Matomo</span>
        </a>

        <span class="hide-on-med-and-down">
            or share us on
            <span class="share-icons">
                <a href="https://www.linkedin.com/company/matomo/" class="share-link" target="_blank">
                    <img src="plugins/CoreHome/images/linkedin-logo.png">
                </a>
                    <a href="https://twitter.com/matomo_org" class="share-link" target="_blank">
                    <img src="plugins/CoreHome/images/twitter_logo.svg">
                </a>
                <a href="https://www.facebook.com/Matomo.org" class="share-link" target="_blank">
                    <img src="plugins/CoreHome/images/facebook_logo.png">
                </a>
            </span>
        </span>
    </span>


    <span class="hide thankYou">Thank you for spreading the word and creating a safer web</span>


    <span title="Close" class="icon-close"></span>

    <span class="hide emailContents">
        <span class="to">friend@domain.com</span>
        <span class="subject">Why I no longer use Google Analytics</span>

<span class="body">Did you know Google uses data for "own purposes"? That means Google owns your data and is using it to monetise their advertising platforms.

This is why I don’t use Google Analytics for analysing the performance of my website.

Instead I choose Matomo, an ethical alternative to Google Analytics that gives me 100% data ownership and protects the data of my website visitors.

I'm sharing this message in the hope that you too will take back the power from Google and get complete ownership of your own data.

[Check out Matomo](https://matomo.org/google-owns-your-data?pk_campaign=refer&pk_kwd=onpremise)</span>
    </span>
</div>