<div class="referFooterBanner hide hide-on-small-only">
    <span>
        Don't let your friend's data end up in the wrong hands!
        <span class="hide-on-med-and-down">Refer them to Matomo Analytics now to take back control!</span>
    </span>
    <br class="hide-on-extra-large-only hide-on-med-and-down" />
    <a href="javascript:void(0)" target="_blank" class="btn referFriend">
        <span>Refer Matomo</span>
    </a>

    <span class="hide-on-med-and-down">
        or share us on
        <span class="share-icons">
            <a href="https://www.linkedin.com/company/matomo/" target="_blank">
                <img src="plugins/CoreHome/images/linkedin-logo.png">
            </a>
                <a href="https://twitter.com/matomo_org" target="_blank">
                <img src="plugins/CoreHome/images/twitter_logo.svg">
            </a>
            <a href="https://www.facebook.com/Matomo.org" target="_blank">
                <img src="plugins/CoreHome/images/facebook_logo.png">
            </a>
        </span>
    </span>
    <span title="Close" class="icon-close"></span>
</div>